In [14]:
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn
import pandas as pd

In [15]:
df=pd.read_csv('./Heart.csv')
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [16]:
print("Shape=",df.shape)

Shape= (303, 15)

In [17]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [18]:
mean=df['Age'].mean(axis=0)
print("Mean of age= ",mean)

Mean of age=  54.43894389438944

In [19]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [20]:
Data1=df[['Age','Sex','ChestPain','RestBP','Chol']]
train,test=train_test_split(Data1, test_size=0.25,random_state=42)

In [21]:
train

     Age  Sex     ChestPain  RestBP  Chol
287   58    1    nontypical     125   220
282   55    0  asymptomatic     128   205
197   45    0  asymptomatic     138   236
158   60    1  asymptomatic     140   293
164   48    1    nonanginal     124   255
..   ...  ...           ...     ...   ...
188   54    1    nontypical     192   283
71    67    1  asymptomatic     125   254
106   59    1  asymptomatic     140   177
270   61    1  asymptomatic     140   207
102   57    0  asymptomatic     128   303

[227 rows x 5 columns]

Through the diagnosis test I predicted 100 report as COVID positive, but only 45 of those were actually positive. Total 50 people in my sample were actually COVID positive. I have total 500 
samples.
Create confusion matrix based on above data and find
I. Accuracy
II. Precision
III. Recall
IV. F-1 score

In [22]:
y_true = []
y_pred = []

In [23]:
for i in range(50):
    y_true.append(1)
for i in range(450):
    y_true.append(0)

In [24]:
for i in range(5):
    y_pred.append(0)
for i in range(100):
    y_pred.append(1)
for i in range(395):
    y_pred.append(0)

In [25]:
sklearn.metrics.accuracy_score(y_true,y_pred)

0.88

In [26]:
sklearn.metrics.precision_score(y_true,y_pred)

0.45

In [27]:
sklearn.metrics.recall_score(y_true, y_pred)

0.9

In [28]:
sklearn.metrics.f1_score(y_true, y_pred)

0.6

In [29]:
sklearn.metrics.confusion_matrix(y_true, y_pred)

array([[395,  55],
       [  5,  45]])

In [30]:
sklearn.metrics.classification_report(y_true,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.99      0.88      0.93       450\n           1       0.45      0.90      0.60        50\n\n    accuracy                           0.88       500\n   macro avg       0.72      0.89      0.76       500\nweighted avg       0.93      0.88      0.90       500\n'